@CHARSET "UTF-8";
/**logo容器样式**/
.left_logo{
	float:left;
	margin-left: 0px;
	width: 7%;
    height: 10%;
    border: 1px solid red;
	
}
a{
	color:#FFFFFF;
	
}
/**logo样式**/
.logo{
	border-radius:17px;
	width: 100%;
	height: 100%;
}
.navbar-brand {
    float: left;
    height: 50px;
    line-height: 20px;
    padding: 0;
}
.navbar-brand-logo{
	border-radius:17px;
	width: 100%;
	height: 100%;
}

.nav {
    width: 100%;
}
.container-fluid{
	float: left;
	width: 100%;
    border: 1px solid red;
}
/**导航查询样式**/
.searchNav{
	float: left;
	margin-top:5px;
}
/**导航登录样式**/
.logoInNav{
	/**float: right;**/
	margin:13 200 0 13;
}
/**导航样式**/
.nav-tabs > li > a {
    line-height: 3;
}
/**导航下边框以及背景颜色样式**/
.nav-tabs {
    border-bottom: 1px solid #333333;
}
.navbar-default {
    background-color: #333333;
    border-color: #333333;
    margin:0 10% 0 10%;
    border: 1px solid red;
}
/**轮播图片样式**/
.carouselCourses{
	width: 20%;
	margin-left: 40%;
	padding: 0;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 6%;
}

.navbar-form {
    margin-top: 18px;
}
/**轮播图片高度样式
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 25%;
}

**/
/*轮播图片样式--start-*/
.item > .lbkc{
	width: 100%;
	height: 100%;
}
.carousel-inner > .item > img{
	height: 90%;
}
/*轮播图片样式--end-*/
.swiper-container {
	/* margin-top:7%; */
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color:#000000;
  }
 .swiper-container2{
	width: 30%;
    height: 30%;
    /** margin-left: auto;
    margin-right: auto;**/
}
 
 .swiper-container a{
 	color:#000000;
 }
 /**首页第一个页面的窗口样式**/
 .ppp-wfjj{
 	float: left;
 	width: 50%;
 	height: 50%;
 	margin-bottom: 0;
 }
 /***万府简介图片外面的div样式***/
 .wfinimg{
  float: left;
  width: 50%;
  border:1px solid red;
  height: 89%;
		margin: -15px 0 0 -15px;
 }
 /***万府简介图片样式***/
 .wfimg{
 	width: 100%;
 	height: 100%;
 }
 /**地图div样式**/
 .mappanel{
 	width: 100%;
 	height: 90%;
 }
 /**“更多”的样式**/
 .gd{
 	float:right;
 	clear: left;
 }
 /*分屏样式--start--*/
 .panel{
 	margin-top: 69px;
 	height: 100%;
 }
 /*分屏样式--end--*/
 /*新闻列表式样*/
 .xwList{
 	color:black;
 	/* border: 1px solid red; */
 	width: 100%;
 	height: 80%;
 	/* width: 1050px;
 	height: 530px; */
 }
 .one{
 	height: 20px;
 	border-bottom: 1px solid silver;
 }
 .two{
 	height: 20px;
 	border-bottom: 1px solid silver;
 }
 /*新闻详细信息页面样式*/
 .DynamicDetilsBody, .CourseDetilsBody{
 	width: 100%;
 	height: 100%;
 	margin-top:70px;
 	overflow:hidden;
 	border: 1px solid red;
 }
 
 /* 标题 内容和配图*/
 .nrpt{
 	width: 100%;
 	/* height: 10%; */
 }
 /*发布时间*/
 .fbsj{
 	width: 100%;
 	float: right;
 	border-bottom: 1px solid white;
 }
 /*内容*/
 .xwnr{
 	width: 70%;
 	height:100%;
 	float:left;
 	margin-top: 10px;
 }
 /*配图*/
 .xwpt{
 	width: 30%;
 	/* height:260px; */
 	float:left;
 	margin-top: 10px;
 }
 /*首页课程列表样式*/
 .courseTenList{
 	color: black;
 }
 /*课程盒子样式*/
 .courseItem{
 	float: left;
 	border: 1px solid black;
 	margin-right: 20px;
 	margin-bottom:20px;
 	width: 18%;
 	height: 40%;
 }
 /*课程图片样式*/
 .courseImage{
 	width: 100%;
 	height: 70%;
 }
 /*课程标题样式*/
 .courseName{
 	width: 100%;
 	height: 10%;
 }
 /*课程解释样式*/
 .courseExplain{
 	width: 100%;
 	height: 30%;
 }
 /*课程详细信息页面的相关样式--start--*/
 /*课程图片样式*/
 .CourseTop,.CourseDown{
 	overflow:hidden;
 	border-bottom: 1px solid white;
 }
 .CourseLeftUp{
 	width: 40%;
 	height: auto;
 	float: left;
 }
 .CourseTopBody{
 	width: 30%;
 	border: 1px solid white;
 	display: inline-block;
 }
 /*课程标题样式*/
 .CourseLeftDown{
 	border-top: 1px solid white;
 	clear: left;
 	width: 100%;
 }
 /*课程说明样式*/
 .CourseRight{
 	width: 70%;
 	height: auto;
 	float: right;
 	border: 1px solid white;
 }
 /*课程宣传视频样式*/
 .CourseDownLeft{
 	width: 40%;
 	height: auto;
 	float: left;
 }
 
 .CourseDownright{
 	width: 70%;
 	height: auto;
 	float: right;
 }
 .videoList{
 	width: 20%;
 	/* height: 1%; */
 }
  /*课程详细信息页面的相关样式--end--*/
 