<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjsf.wfma.bean.mappingxml.CourseMapper">
    <select id="selectcourselb" parameterType="String" resultType="com.cjsf.wfma.bean.Course">
        select * from course where coursestate = '轮播'
    </select>
    
    <select id="selectAllCourseD" resultType="com.cjsf.wfma.bean.Course">
    	SELECT * FROM course LIMIT 10
    </select>
    <select id="getCount" resultType="int">
    	SELECT COUNT(*) FROM course
    </select>
    <select id="getList" parameterType="com.cjsf.wfma.bean.Page" resultType="com.cjsf.wfma.bean.Course">
    	SELECT * FROM course LIMIT #{startRow},#{pageSize}
    </select>
    <select id="DetailsCourseBYIdD" parameterType="com.cjsf.wfma.bean.Course" resultType="com.cjsf.wfma.bean.Course">
    	SELECT * FROM course
    	<trim prefix="WHERE" prefixOverrides="AND |OR ">
    		<if test="courseid!=null">
    			courseid = #{courseid}
    		</if>
    	</trim>
    </select>
    
    <!-- 
    <resultMap type="com.cjsf.wfma.bean.Course" id="cour">
    	<result property="courseid" column="courseid"/>
    	<result property="coursename" column="coursename"/>
    	<result property="courseimg" column="courseimg"/>
    	<result property="courseexplain" column="courseexplain"/>
    	<result property="coursedirectory" column="coursedirectory"/>
    	<result property="coursestate" column="coursestate"/>
    	<result property="courseurl" column="courseurl"/>
    	<result property="coursetypeid" column="coursetypeid"/>
    	<result property="videourl" column="videourl"/>
    </resultMap> -->
</mapper>