<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjsf.wfma.bean.mappingxml.NavigationMapper">
    <select id="selectNavigation" parameterType="String" resultType="com.cjsf.wfma.bean.Navigation">
        select * from navigation where nastate = '启用'
    </select>
    <select id="selectAllNaviD" parameterType="map" resultType="com.cjsf.wfma.bean.Navigation">
    	select * from navigation
    	<trim prefix="WHERE" prefixOverrides="AND |OR ">
    		<if test="naname != null and nastate != null and pid != null">
    			naname like CONCAT('%',#{navi.naname},'%') AND nastate=#{navi.nastate} AND pid=#{navi.pid}
    		</if>
    		<if test="naname != null">
    			AND naname like CONCAT('%',#{navi.naname},'%')
    		</if>
    		<if test="nastate != null">
    			AND nastate=#{navi.nastate}
    		</if>
    		<if test="pid != null">
    			AND pid=#{navi.pid}
    		</if>
    	</trim>
    	LIMIT #{page},#{rows}
    </select>
    <insert id="AddNaivD" parameterType="com.cjsf.wfma.bean.Navigation" useGeneratedKeys="true" keyProperty="naid">
    	INSERT INTO navigation (naname,naurl,nastate,pid) VALUES (#{naname},#{naurl},#{nastate},#{pid})
    </insert>
    <update id="EditNaviD" parameterType="com.cjsf.wfma.bean.Navigation">
    	UPDATE navigation SET naname=#{naname},naurl=#{naurl},nastate=#{nastate},pid=#{pid} WHERE naid=#{naid}
    </update>
    <delete id="RemoveNaviD" parameterType="com.cjsf.wfma.bean.Navigation">
    	DELETE FROM navigation WHERE naid=#{naid}
    </delete>
    
    <select id="SearchNaviD" parameterType="com.cjsf.wfma.bean.Navigation" resultType="com.cjsf.wfma.bean.Navigation">
    	SELECT * FROM navigation where naname like CONCAT('%',#{naname},'%')
    	<!-- <where>
    		<if test="naname != null">
    			naname like CONCAT('%',#{naname},'%')
    		</if>
    		<if test="nastate != null">
    			or nastate=#{nastate}
    		</if>
    		<if test="pid != null">
    			or pid=#{pid}
    		</if>
    	</where> -->
    	
    </select>
    <select id="getNaviRowsD" parameterType="com.cjsf.wfma.bean.Navigation" resultType="int">
    	SELECT COUNT(*) FROM navigation
    	<trim prefix="WHERE" prefixOverrides="AND |OR ">
    		<if test="naname != null and nastate != null and pid != null">
    			naname like CONCAT('%',#{naname},'%') AND nastate=#{nastate} AND pid=#{pid}
    		</if>
    		<if test="naname != null">
    			AND naname like CONCAT('%',#{naname},'%')
    		</if>
    		<if test="nastate != null">
    			AND nastate=#{nastate}
    		</if>
    		<if test="pid != null">
    			OR pid=#{pid}
    		</if>
    	</trim>
    </select>
</mapper>