<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjsf.wfma.bean.mappingxml.UserMapper">
    <select id="login" parameterType="String" resultType="com.cjsf.wfma.bean.User">
        select * from user where nickname = #{nickname} and password = #{password} and type= #{type}
    </select>
    <select id="TestD" parameterType="String" resultType="com.cjsf.wfma.bean.User">
        select * from user where nickname = '王胜' and password = '222222'
    </select>
    <select id="selectPresidentD" parameterType="String" resultType="com.cjsf.wfma.bean.User">
        select * from user where name = '蒲兰杨' and password = '111111'
    </select>
    <select id="selectJL" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM USER WHERE TYPE = '教练' LIMIT 10
    </select>
    <select id="selectNewXYD" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM USER WHERE TYPE='学员' ORDER BY id DESC LIMIT 10
    </select>
    <select id="getJLCountD" resultType="int">
    	SELECT COUNT(*) FROM user WHERE TYPE='教练'
    </select>
    <select id="getXYCountD" resultType="int">
    	SELECT COUNT(*) FROM user WHERE TYPE='学员'
    </select>
    <select id="jlDetailsD" parameterType="com.cjsf.wfma.bean.Page" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM USER  WHERE TYPE='教练' LIMIT #{startRow},#{pageSize}
    </select>
    <select id="xyDetailsD" parameterType="com.cjsf.wfma.bean.Page" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM USER  WHERE TYPE='学员' LIMIT #{startRow},#{pageSize}
    </select>
    <select id="adminifmD" parameterType="com.cjsf.wfma.bean.User" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM user
    	<trim prefix="WHERE" prefixOverrides="AND |OR ">
    		<if test="id!=null">
    			id=#{id}
    		</if>
    	</trim>
    </select>
    <update id="editUserD" parameterType="com.cjsf.wfma.bean.User">
    	UPDATE user
    	<set>
			<if test="nickname != null">nickname=#{nickname},</if>
			<if test="password != null">password=#{password},</if>
			<if test="name != null">name=#{name},</if>
			<if test="sex != null">sex=#{sex},</if>
			<if test="age != null">age=#{age},</if>
			<if test="brithday != null">brithday=#{brithday},</if>
			<if test="address != null">address=#{address},</if>
			<if test="tell != null">tell=#{tell},</if>
			<if test="qq != null">qq=#{qq},</if>
			<if test="email != null">email=#{email},</if>
			<if test="briefintroduction != null">briefintroduction=#{briefintroduction},</if>
			<if test="head != null">head=#{head}</if>
		</set>
    	WHERE id=#{id}
    	<!-- <trim prefix="SET" suffixOverrides=",">
			<if test="nickname != null">nickname=#{nickname}</if>
			<if test="password != null">password=#{password}</if>
			<if test="name != null">name=#{name}</if>
			<if test="sex != null">sex=#{sex}</if>
			<if test="age != null">age=#{age}</if>
			<if test="brithday != null">brithday=#{brithday}</if>
			<if test="address != null">address=#{address}</if>
			<if test="tell != null">tell=#{tell}</if>
			<if test="qq != null">qq=#{qq}</if>
			<if test="email != null">email=#{email}</if>
			<if test="type != null">type=#{type}</if>
			<if test="briefintroduction != null">briefintroduction=#{briefintroduction}</if>
			<if test="head != null">head=#{head}</if>
		</trim>
    	WHERE id=#{id} -->
    </update>
    <select id="HtSelectAllStuD" parameterType="com.cjsf.wfma.bean.User" resultType="com.cjsf.wfma.bean.User">
    	SELECT * FROM user
    	<trim prefix="WHERE" prefixOverrides="AND |OR ">
    		<if test="type != null">
	    		type=#{type}
	    	</if>
    	</trim>
    </select>
    <insert id="HtAddStuD" parameterType="com.cjsf.wfma.bean.User" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO USER
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    		<if test="nickname != null">nickname,</if>
			<if test="password != null">password,</if>
			<if test="name != null">name,</if>
			<if test="sex != null">sex,</if>
			<if test="age > 0">age,</if>
			<if test="brithday != null">brithday,</if>
			<if test="address != null">address,</if>
			<if test="tell != null">tell,</if>
			<if test="qq != null">qq,</if>
			<if test="type != null">type,</if>
			<if test="email != null">email,</if>
			<if test="briefintroduction != null">briefintroduction,</if>
			<if test="head != null">head</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
    		<if test="nickname != null">#{nickname},</if>
			<if test="password != null">#{password},</if>
			<if test="name != null">#{name},</if>
			<if test="sex != null">#{sex},</if>
			<if test="age > 0">#{age},</if>
			<if test="brithday != null">#{brithday},</if>
			<if test="address != null">#{address},</if>
			<if test="tell != null">#{tell},</if>
			<if test="qq != null">#{qq},</if>
			<if test="type != null">#{type},</if>
			<if test="email != null">#{email},</if>
			<if test="briefintroduction != null">#{briefintroduction},</if>
			<if test="head != null">#{head}</if>
    	</trim>
    </insert>
    <delete id="HtRemoveStuD" parameterType="com.cjsf.wfma.bean.User">
    	DELETE FROM USER WHERE id=#{id}
    </delete>
</mapper>